.createCourseBg{
    padding-top: 2%;
    padding-bottom: 2%;
}

.createCourseHeading{
    padding-bottom: 0.5%;
    font-size: 250%;
    font-weight: bold;
    color: black;
}

.createCourseBG{
    width: 45%;
    padding-bottom: 2%;
}